@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
    --cor-site: #404040;
    --cor-fonte: #590C21;
    --cor-menu: #000000;
    --cor-fundo: #292524;
    --cor-clara: #f5f5f5;
    --cor-fucsia: #84122A;
    --d: 700ms;
    --e: cubic-bezier(0.34, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #000000fb;
}

.maxWidth {
    max-width: 90em;
}

.header {
    text-align: center;
    margin: auto;
    background-color: var(--cor-site);
    color: #000000f8;
}

.header_logo {
    width: 8em;
    height: 100%;
    margin: 1.2em;
    border-radius: 100px;
}

#hamburguer {
    background-color: var(--cor-fundo);
    color: #fff;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav {
    background-color: var(--cor-fonte);
    display: none;
}

.header_nav.show {
    display: block;
}


ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    font-weight: 600;
}

.header_nav a {
    color: var(--cor-menu);
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #eee;

}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-menu), #fff 5%);
}

section{
    margin: 1em 3em 1em 3em;
}

#aprendizado ul {
    list-style-type: none;
}

.body {
    min-height: 30vh;
    width: 100%;
    font-size: 14px;
    background: #080808;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img {
    position: relative;
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s, border-radius 0.4s;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container_img:hover {
    width: 340px;
    height: 440px;
    border-radius: 6px;
}

.img-container {
    width: 180px;
    height: 180px;
    min-height: 180px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px 5px var(--cor-fucsia);
}

.img-container img {
    width: 115%;
    max-width: 115%;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #fff;
}

.role,
.description ul {
    font-size: 1.4em;
    letter-spacing: 0.8px;
    line-height: 10px;
    padding-bottom: 8px;
}

.description ul {
    text-align: center;
}

.role {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 2px solid #590c2196;
    color: #8C1434;
}

.description {
    margin-bottom: 12px;
}

.social-container {
    position: absolute;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
}

.social-container button {
    border: none;
    outline: none;
    color: #eee;
    background: none;
    width: 20px;
    height: 40px;
    font-size: 1.7em;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.4s;
}

.social-container button a {
    color: #fff;
}

.social-container button a:hover {
    color: var(--cor-fucsia);
}

.container_img:hover .social-container button {
    transform: translateX(60px);
    transition-delay: 0.3s;
}

.container_img:hover .social-container button:nth-child(2) {
    transition-delay: 0.5s;
}

.container_img:hover .social-container button:nth-child(3) {
    transition-delay: 0.7s;
}

p,
ul {
    color: var(--cor-clara);
}

h1,
h2 {
    color: var(--cor-fonte);
    margin-top: 1em;
    margin-bottom: .5em;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-menu);
    }

    .header_logo {
        margin-left: 2em;
    }

    .header_nav {
        display: block;
        background-color: #000000;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .6em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
        background-color: #84122be3;
        color: #eee;
    }

    .header_nav a:hover {
        background-color: var(--cor-fonte);
        color: #ffffff;
    }
}

.sobre_mim {
    /*background-image: url(imagens/);*/
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: initial;
}

.fundo_article {
    background-image: url(imagens/sobre.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: .9rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    background-color: #000000;
    border: 0.3px solid var(--cor-fonte);
    box-shadow: 0 0 5px 3px #590C21;
}

@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.010) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(imagens/SimoneSimons.png);
}

.card:nth-child(2):before {
    background-image: url(imagens/Tarja.png);
}

.card:nth-child(3):before {
    background-image: url(imagens/OChamado.png);
}

.card:nth-child(4):before {
    background-image: url(imagens/Hammerfall.png);
}

.card:nth-child(5):before {
    background-image: url(imagens/Edguy.png);
}

.card:nth-child(6):before {
    background-image: url(imagens/PrimeiroCodigo.png);
}

.card:nth-child(7):before {
    background-image: url(imagens/Calculadora.png);
}

.card:nth-child(8):before {
    background-image: url(imagens/Diablo.png);
}

.card:nth-child(9):before {
    background-image: url(imagens/God-Of-War.png);
}

.card:nth-child(10):before {
    background-image: url(imagens/);
}

.card:nth-child(11):before {
    background-image: url(imagens/);
}

.card:nth-child(12):before {
    background-image: url(imagens/);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    border-radius: 5px;
    background-color: #84122be3;
    color: #eee;
    padding: .2em;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: var(--cor-clara);
    background-color: var(--cor-fonte);
    border: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0d0d0dcb;
}

.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 3;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.trailer {
    background-color: var(--cor-clara);
    padding-bottom: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}

.trailer div {
    text-align: center;
    margin: auto;
    width: 80%;
}

.trailer_title {
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}

.trailer h1 {
    font-size: 4em;
    margin-bottom: 1em;
    font-family: sans-serif;
}

.trailer_paragrafo {
    font-size: 1.1em;
}

.trailer_botao {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.trailer_botao:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.trailer_video {
    display: none;
}

p {
    text-align: justify;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    .trailer_botao {
        display: none;
    }

    .trailer {
        background-image: url(imagens/Logo.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }

    .trailer_video {
        display: block;
    }

    .trailer_video .tamanho {
        border-radius: .8em;
        margin-bottom: 1em;
    }

    .trailer_paragrafo {
        margin-bottom: 2em;
    }
}

.trailer_botao_article {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.trailer_botao_article:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.main_content {
    padding-top: 1em;
}

.icon_img {
    width: 5.6em;
}

article .icon_img:hover {
    transform: scale(1.4);
    transition: transform 0.5s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.col {
    flex: 1 0 auto;
    /*
    flex-grow = 1
    vai aumentar seu tamanho se houver espaÃ§o


    flex-shrink = 0
    nÃĢo quero que o elemento diminua


    flex-basis = auto
    vai depender do width do prÃģprio elemento
    */
    width: 100%;
}


.col-12 {
    width: 100%;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    .col-6 {
        width: calc(50% - 2rem);
    }
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: ;
}

@media screen and (min-width: 48em) {
    /*768px maior que */

    .logos_footer {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

}