:root {
    --cor-site: #404040;
    --cor-fonte: #590C21 ;
    --cor-menu: #000000;
    --cor-fundo: #292524;
    --cor-clara: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #404040;
}

.maxWidth {
    max-width: 90em;
}

.header {
    text-align: center;
    /margin: auto;
    background-color: #010326;
    color: #3F83BF;
}

.header_logo {
    width: 13em;
    height: 100%;
    margin: 1em;
    border-radius: 5px;
}

#hamburguer {
    background-color: var(--cor-fundo);
    color: #fff;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}


.header_nav {
    background-color: var(--cor-fundo);
    display: none;
}

.header_nav.show {
    display: block;
}


ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    font-weight: 600;
}

.header_nav a {
    color: var(--cor-menu);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-fonte), #ffffff 20%);
}

.container_img {
    position: relative;
    background-color: #535252;
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s, border-radius 0.4s;
}

.container_img:hover {
    width: 340px;
    height: 440px;
    border-radius: 4px;
}

.img-container {
    width: 170px;
    height: 170px;
    min-height: 170px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    max-width: 100%;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 16px;
    color: #fff;
}

.role,
.description {
    font-size: .9em;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-align: justify;
}

.role {
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 2px solid #fff;
}

.social-container {
    position: absolute;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
}

.social-container button {
    border: none;
    outline: none;
    color: #eee;
    background: none;
    width: 20px;
    height: 40px;
    font-size: 1.7em;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.4s;
}

.container_img:hover .social-container button {
    transform: translateX(60px);
    transition-delay: 0.3s;
}

.container_img:hover .social-container button:nth-child(2) {
    transition-delay: 0.5s;
}

.container_img:hover .social-container button:nth-child(3) {
    transition-delay: 0.7s;
}

#id {
    color: var(--cor-fonte);
    font-size: 3.4em;
    font-family: sans-serif;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-menu);
    }

    .header_logo {
        margin-left: 2em;
    }


    .header_nav {
        display: block;
        background-color: #8C1434;
    }


    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
        color: #fff;
        background-color: #8C1434;
    }


    .header_nav li {
        display: inline-block;
    }


    .header_nav a {
        color: var(--cor-menu);
        border-radius: 5px;
        color: #fff;
    }


    .header_nav a:hover {
        background-color: color-mix(in srgb, var(--cor-site), #ffffff 80%);
    }
}

.sobre_mim {
    background-image: url(imagens/sobre.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: initial;
}

.tamanho {
    width: 20rem;
}

.trailer {
    background-color: var(--cor-clara);
    padding-bottom: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}


.trailer div {
    text-align: center;
    margin: auto;
    width: 80%;
}


.trailer_title {
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}


.trailer h1 {
    font-size: 4em;
    margin-bottom: 1em;
    font-family: sans-serif;
}


.trailer_paragrafo {
    font-size: 1.1em;
}


.trailer_botao {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}


.trailer_botao:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.trailer_video {
    display: none;
}

p {
    text-align: justify;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    .trailer_botao {
        display: none;
    }

    .trailer {
        background-image: url(imagens/);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }

    .trailer_video {
        display: block;
    }

    .trailer_video .tamanho {
        border-radius: .8em;
        margin-bottom: 1em;
    }

    .trailer_paragrafo {
        margin-bottom: 2em;
    }
}

.trailer_botao_article {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.trailer_botao_article:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.main_content {
    background-color: color-mix(in srgb, var(--cor-menu), #ffffff 60%);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


.main_content div {
    margin: auto;
    padding: 1em;
    width: 80%;
}


.main_content_title {
    color: var(--cor-site);
    font-family: sans-serif;
}


.icon_img {
    width: 5.6em;
}

article .icon_img:hover {
    transform: scale(1.4);
    transition: transform 0.5s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.col {
    flex: 1 0 auto;
    /*
    flex-grow = 1
    vai aumentar seu tamanho se houver espaÃ§o


    flex-shrink = 0
    nÃĢo quero que o elemento diminua


    flex-basis = auto
    vai depender do width do prÃģprio elemento
    */
    width: 100%;
}


.col-12 {
    width: 100%;
}

@media screen and (min-width: 48em) {

    /*768px maior que*/
    .col-6 {
        width: calc(50% - 2rem);
    }
}

footer {
    background-color: var(--cor-fundo);
    color: #ffffff;
    padding: .7em;
    text-align: center;
    font-style: italic;
    font-size: .8em;
}
